$desat_dk_cyan: hsl(180, 29%, 50%);
$desat_dk_cyan_shadow: hsla(180, 29%, 50%, 0.329);
$lt_cyan_bg: hsl(180, 52%, 96%);
$lt_cyan_filter: hsl(180, 31%, 95%);
$dk_cyan: hsl(180, 8%, 52%);
$very_dk_cyan: hsl(180, 14%, 20%);