@import '_colors.scss';
@import '_typography.scss';

body, html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background: $lt_cyan_bg;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  width: 100vw;
    background: $lt_cyan_bg;
  .header {
    background: $desat_dk_cyan;
    // background-image: url('../../images/bg-')
    img {
      width: 100vw;
    }
  }
  .form {
    display: flex;
    width: 80vw;
    margin: auto;
    .button {
      width: 200px;
    }
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    background: $lt_cyan_bg;
    padding-top: 50px;
    width: 80vw;
    margin: auto;
    .card {
      display: flex;
      flex-direction: row;
      margin: 20px auto;
      padding: 20px;
      background: white;
      border-radius: 4px;
      transition: transform 300ms;
      transform: scale(1);
      filter: drop-shadow(0px 9px 8px $desat_dk_cyan_shadow);
      &:hover {
        transform: scale(1.04);
        transition: transform 300ms;
      }
      .cardLeft {
        display: flex;
        flex-direction: row;
        .logo {
          display: flex;
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 50%;
          justify-content: center;
          img {
            align-self: center;
            width: inherit;
          }
        }
        .type{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          justify-content: space-evenly;
          .companyName {
            color: $desat_dk_cyan;
            font-size: 0.95rem;
          }
          .jobTitle {
            font-weight: 700;
          }
        }
      }
    }
  }
}