@import '_colors.scss';
@import '_typography.scss';

body, html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  width: 100vw;
  .header {
    img {
      width: 100vw;
    }
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    background: $lt_cyan_bg;
    padding-top: 50px;
    .card {
      display: flex;
      flex-direction: row;
      width: 80vw;
      padding: 20px;
      margin: 10px auto;
      background: white;
      border-radius: 4px;
      filter: drop-shadow(0px 9px 8px $desat_dk_cyan_shadow);
      .cardLeft {
        display: flex;
        flex-direction: row;
        .logo {
          display: flex;
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 50%;
          justify-content: center;
          img {
            align-self: center;
            width: inherit;
          }
        }
        .type{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          justify-content: space-evenly;
          .companyName {
            color: $desat_dk_cyan;
            font-size: 0.95rem;
          }
          .jobTitle {
            font-weight: 700;
          }
        }
      }
    }
  }
}